if SHIELD_COSMOS_3P_LEFT

config ZMK_KEYBOARD_NAME
    default "Cosmos 3P"

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

endif

if SHIELD_COSMOS_3P_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cosmos 3P"

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

endif

if SHIELD_COSMOS_3P_CENTRAL

config ZMK_KEYBOARD_NAME
    default "Cosmos 3P Central"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

config ZMK_BLE
    default y

endif

if SHIELD_COSMOS_3P_LEFT || SHIELD_COSMOS_3P_RIGHT || SHIELD_COSMOS_3P_CENTRAL

config ZMK_SPLIT
    default y

endif