if SHIELD_COSMOS_3P_LEFT

config ZMK_KEYBOARD_NAME
    default "Cosmos 3P"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COSMOS_3P_LEFT || SHIELD_COSMOS_3P_RIGHT

config ZMK_SPLIT
    default y

endif